configuration{
  modi: "run,window,combi";
  icon-theme: "Oranchelo";
  show-icons: true;
  terminal: "ghostty";
  drun-display-format: "{icon} {name}";
  location: 0;
  disable-history: false;
  hide-scrollbar: true;
  display-combi: " 🖥️ All";
  display-combi: " 🏃 Run";
  display-combi: " 🪟 Window";
}

@theme "catppuccin-macchiato"
